@layer base {
    :root {
        --color-primary: 11 97 238;
        --color-secondary: 205 208 213;
        --color-success: 132 204 22;
        --color-info: 6 182 212;
        --color-warning: 250 204 21;
        --color-pending: 249 115 22;
        --color-danger: 220 38 38;
        --color-light: 241 245 249;
        --color-dark: 30 41 59;
    }

    .dark {
        --color-darkmode-50: 87 103 132;
        --color-darkmode-100: 74 90 121;
        --color-darkmode-200: 65 81 114;
        --color-darkmode-300: 53 69 103;
        --color-darkmode-400: 48 61 93;
        --color-darkmode-500: 41 53 82;
        --color-darkmode-600: 40 51 78;
        --color-darkmode-700: 35 45 69;
        --color-darkmode-800: 27 37 59;
        --color-darkmode-900: 15 23 42;
    }
}
