#map {
    height: 100%;
}

.popup-bubble {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 80px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: 45px;
    left: 0;
}

.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
}

.popup-container {
    cursor: auto;
    height: 0;
    position: absolute;
    width: 250px;
}
